html, body, #root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

p {
  display: inline;
}

.App {
  height: 100%;
  width: 100%;
  place-items: "center";
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative

}

.sliderBar {
  width: 300px;
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.sliderBar:hover {
  opacity: 1;
}

.sliderBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}